<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}
			<link rel="stylesheet" href="/assets/css/dfront.css">
			<link rel="preconnect" href="https://fonts.gstatic.com">
			<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap" rel="stylesheet">
		{% endblock %}
	</head>
	<body>
		{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USER')  %}
			{% include "commons/sidebar.html.twig" %}
			<div class="main uk-background-muted">
				{% include "commons/header.html.twig" %}
				<div class="uk-container uk-container-expand uk-position-relative">
					<div>
					{% else %}
						<div class="uk-background-muted">
						{% endif %}

						{% block body %}{% endblock %}
						{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USER')  %}
						</div>
					</div>
			{% else %}
				</div>
			{% endif %}

			{% block javascripts %}
				<!-- UIkit JS -->
				<script src="https://cdn.jsdelivr.net/npm/uikit@3.6.11/dist/js/uikit.min.js"></script>
				<script src="https://cdn.jsdelivr.net/npm/uikit@3.6.11/dist/js/uikit-icons.min.js"></script>
				<script src="https://unpkg.com/feather-icons"></script>
				<script>
					feather.replace()
				</script>
			{% endblock %}
		</body>
	</body>
</html>
