<div class="sidebar-left uk-visible@s uk-flex uk-flex-column uk-flex-between uk-text-center uk-background-default uk-box-shadow-small">
	<div>
		<div class="df-icon">
			<img src="/assets/img/dfront-icon.svg" alt="">
		</div>
		<div class="df-menu">
			<ul class="uk-nav uk-nav-default nav">
				<li class="">
					<a href="{{ path('user_index')}}">
						<i width="30" height="30" stroke-width="1.5" data-feather="user"></i>
					</a>
				</li>
				<!--	<li class="uk-active">
																													<a href="">
																														<i width="30" height="30" stroke-width="1.5" data-feather="gift"></i>
																													</a>
																												</li>
																												<li class="">
																													<a href="">
																														<i width="30" height="30" stroke-width="1.5" data-feather="info"></i>
																													</a>
																												</li>
																												<li class="">
																													<a href="">
																														<i width="30" height="30" stroke-width="1.5" data-feather="settings"></i>
																													</a>
																												</li> -->
			</ul>
		</div>
	</div>
	<div class="uk-padding-small uk-margin-small-bottom">
		<ul class="uk-nav uk-nav-default">
			<li>
				<a class="uk-text-danger" href="{{ path('app_logout') }}">
					<i width="20" height="20" stroke-width="2" data-feather="log-out"></i>
				</a>
			</li>
		</ul>
	</div>
</div>
