{% extends 'base.html.twig' %}

{% block title %}Editar Usuário
{% endblock %}

{% block body %}
	<div>
		<h3 id="card" class="uk-h3 heading-fragment uk-flex uk-flex-between">
			<span>Editar Usuário</span>
			<span>
				<a href="{{ path('user_index') }}" class="uk-button uk-button-default uk-button-small">Voltar</a>
			</span>
		</h3>
		<div class="uk-card uk-card-small uk-card-body uk-card-default">

			{{ include('user/_form.html.twig', {'button_label': 'Atualizar'}) }}

		</div>
	</div>
{% endblock %}
